.navbarContainer {
    display: flex;
    justify-content: center;
    background-color: rgb(202, 197, 197);
    /* width: 100vh; */
}

.navbarContainer img {
    padding-right: 15px;
}

.navbarContainer span{
    font-size: 1.2em;
}